$font-family_1: 'Open Sans', sans-serif;
$back-color: #FFFFFF;
$border-color: #F1F1F1;

@mixin flex-prop($align, $justify) {
    display: flex;
    align-items: $align;
    justify-content: $justify;
}


@font-face {
    font-family: maven;
    src: url(../fonts/Maven/MavenPro-VariableFont_wght.ttf);
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    // box-shadow: inset 0 0 5px grey;
    // border-radius: 10px;
    background: #FCFCFC;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #c85000;
    border-radius: 10px;
}


* {
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: maven;
}

body {
    background: #f5f6fa;
}

// Navbar Section Start 

.wrapper {

    .sidebar {
        background: $back-color;
        position: fixed;
        top: 0;
        left: 0;
        width: 8rem;
        height: 100%;
        padding: 20px 0;
        transition: all 0.5s ease;
        border-right: solid #F1F1F1;
        border-width: 2px;
        flex-direction: column;
        gap: 4rem;

        @include flex-prop(center, center);

        a {
            @include flex-prop(center, center);
            flex-direction: column;
            text-decoration: none;
            color: black;
            font-size: 1.5rem;
            transition: all 0.5s linear;
            border: solid transparent;
            border-radius: 18px;
            padding: 0.5rem;

            &:hover {
                color: #F1F1F1;
                background: black;
            }
        }

    }
}

// Navbar Section End

// Tabs Section Start 

.cen_sec {

    width: 58%;
    margin-left: 10rem;

    .top_navContent {

        @include flex-prop(center, center);
        // width: 58%;
        padding-top: 1rem;
        // margin-left: 10rem;

        .heading {

            display: flex;
            flex: 1;
            align-items: center;
            justify-content: space-between;
        }


        h2 {
            padding: 1.3rem 1.3rem 1.3rem 0;
        }

        .Search_bar {
            border-radius: 5px;
            width: 36rem;
            height: 2rem;
            background: $back-color;
            border: none;
            padding: 1.5rem;
        }
    }

    .Tab_menu {
        // width: 58%;
        padding-top: 2rem;
        // margin-left: 10rem;
        @include flex-prop(center, center);

        // .tabs {
        //     background: #FFFFFF;
        //     padding: 0.4rem;
        //     display: flex;
        //     gap: 1rem;
        //     width: 60rem;


        //     .tab {
        //         display: inline-block;
        //         padding: 0.7rem;
        //         border-radius: 12px;
        //         font-size: small;
        //         text-transform: capitalize;
        //         transition: all 250ms;



        //         &:hover {
        //             border: solid #c85000;
        //             border-width: 3px;
        //             color: #fb8332;
        //             padding: 0.6rem;
        //             transform: translateY(-1px);
        //         }
        //     }
        // }
        .tab_filter {
            background-color: #fff;
            width: 73rem;
            display: flex;
            align-items: center;
            gap: 2rem;

            .tabs {
                background: #FFFFFF;
                padding: 0.4rem;
                display: flex;
                gap: 1rem;
                width: 60rem;

                button {

                    &:hover {
                        background: #c85000;
                        color: #fff;
                    }

                }

                .rts___tab___selected {
                    background: #c85000;
                    color: #fff;
                }

            }

            .trigger-button{
                cursor: pointer;
            }
        }

    }


    .card_sec_tile {

        // margin-left: 10rem;
        padding: 1rem 2rem;
        // width: 58%;
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        height: 43rem;
        overflow-y: auto;

        .card_tile {
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
            transition: 0.3s;
            width: 13.46rem;
            background: #fff;
            border-radius: 10px;
            height: 14rem;

            &:hover {
                box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
            }

            img {
                width: 13rem;
                height: 9rem;
                padding: 0.6rem;
            }

            .container_tile {
                padding: 0px 11px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                height: 75px;

                a {
                    padding: 11px 15px;
                    background: #c85000;
                    border-radius: 6px;
                    color: #F1F1F1;
                    text-decoration: none;
                }

            }
        }
    }

    .card_sec_list {

        // margin-left: 10rem;
        padding: 1rem 2rem;
        // width: 58%;
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        height: 43rem;
        overflow-y: auto;

        .card_list {
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
            transition: 0.3s;
            width: 18.46rem;
            background: #fff;
            border-radius: 10px;
            height: 8rem;
            @include flex-prop(center, center);

            &:hover {
                box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
            }


            .card_list_inner {
                width: 17rem;
                height: 8rem;


                .image_View {
                    @include flex-prop(center, flex-start)
                }

                img {
                    width: 5rem;
                    height: 4.7rem;
                    padding: 0.6rem 0;
                }

                h4 {
                    padding-left: 1rem;
                }

                .container_list {
                    padding: 0px 11px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    height: 46px;

                    a {
                        padding: 11px 15px;
                        background: #c85000;
                        border-radius: 6px;
                        color: #F1F1F1;
                        text-decoration: none;
                    }

                }
            }
        }
    }

}

// Tabs Section End 


// Order Section Start


.Right_menu {
    right: 0;
    display: flex;
    position: fixed;
    background: #fff;
    width: 34rem;
    height: 100%;
    justify-content: flex-start;
    flex-direction: column;


    .add_item {
        // height: 7rem;
        border-bottom: solid $border-color;
        border-width: 2px;
        padding: 1rem 0 1rem 0;
        @include flex-prop(flex-start, center);

        .right_tbtn {
            flex: 0.9;
            @include flex-prop(center, space-between);

            a {
                background-color: #F5F5F5;
                border: 1px solid transparent;
                border-radius: .25rem;
                box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
                color: black;
                cursor: pointer;
                font-weight: 600;
                line-height: 1.25;
                padding: calc(.875rem - 1px) calc(1.5rem - 1px);
                transition: all 250ms;
                width: auto;
            }

            .action_btn {
                @include flex-prop(center, space-between);
            }

        }

    }

    // Order Section Start
    .order_sec {
        height: 46%;
        overflow-y: scroll;

        .orders {
            padding: 1rem 0 1rem 0;
            display: flex;
            align-items: flex-start;
            justify-content: center;

            .items {
                display: flex;
                justify-content: space-between;
                flex: 0.9;

                .item_name {
                    @include flex-prop(flex-start, center);

                    img {
                        width: 6rem;
                    }

                    h4 {
                        padding-left: 1rem;
                    }
                }

                .price {
                    text-align: right;

                    .quantity {
                        display: flex;

                        input {
                            width: 2rem;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            border: none;
                            padding-left: 0.7rem;
                        }

                        div {
                            padding: 0.5rem 1rem 0.5rem 1rem;
                            background: #c85000;

                            .quantity_icon {
                                font-size: 14px;
                                color: #F1F1F1;
                            }
                        }
                    }
                }

            }

        }
    }

    // Order Sec End 

    // Price Box Sec Start 

    .pricing_tile {
        .total_price {
            @include flex-prop(center, center);
            padding-top: 2rem;

            .priceBox {
                flex: 0.9;
                border-top: dashed $border-color;
                border-bottom: dashed $border-color;
                padding: 1rem 0;

                .price_lines {
                    @include flex-prop(center, space-between);
                    padding-bottom: 0.4rem;
                }

            }
        }

        .grand_total {
            @include flex-prop(center, center);
            padding-top: 1rem;

            .priceBox {
                flex: 0.9;

                .price_lines {
                    @include flex-prop(center, space-between);
                    padding-bottom: 0.4rem;
                }

            }
        }

        .grand_total_btn {
            display: flex;
            justify-content: center;

            .BtnBox {
                display: flex;
                flex-direction: column;
                flex: 0.9;
                gap: 0.5rem;

                a {
                    border: 1px solid transparent;
                    border-radius: .25rem;
                    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;

                    cursor: pointer;
                    font-weight: 600;
                    line-height: 1.25;
                    padding: calc(.875rem - 1px) calc(1.5rem - 1px);
                    transition: all 250ms;
                    width: auto;
                    text-align: center;
                }

                .order_btn {
                    background-color: #c85000;
                    color: #F5F5F5;
                }

                .print_btn {
                    border: dashed #c85000;
                    color: gray;
                }
            }
        }
    }

    // Price Box Sec End 

}